In [1]:
import os
import glob
import pandas as pd
from tqdm import tqdm
import pickle

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

# Define paths to the folders
hosp_path = "../mimic-iv-3.1/hosp/*.csv.gz"
icu_path = "../mimic-iv-3.1/icu/*.csv.gz"

# Get list of all csv.gz files
hosp_files = glob.glob(hosp_path)
icu_files = glob.glob(icu_path)

# Combine all file paths
all_files = hosp_files + icu_files
for file in all_files:
    print(file)

../mimic-iv-3.1/hosp\admissions.csv.gz
../mimic-iv-3.1/hosp\diagnoses_icd.csv.gz
../mimic-iv-3.1/hosp\drgcodes.csv.gz
../mimic-iv-3.1/hosp\d_hcpcs.csv.gz
../mimic-iv-3.1/hosp\d_icd_diagnoses.csv.gz
../mimic-iv-3.1/hosp\d_icd_procedures.csv.gz
../mimic-iv-3.1/hosp\d_labitems.csv.gz
../mimic-iv-3.1/hosp\emar.csv.gz
../mimic-iv-3.1/hosp\emar_detail.csv.gz
../mimic-iv-3.1/hosp\hcpcsevents.csv.gz
../mimic-iv-3.1/hosp\labevents.csv.gz
../mimic-iv-3.1/hosp\microbiologyevents.csv.gz
../mimic-iv-3.1/hosp\omr.csv.gz
../mimic-iv-3.1/hosp\patients.csv.gz
../mimic-iv-3.1/hosp\pharmacy.csv.gz
../mimic-iv-3.1/hosp\poe.csv.gz
../mimic-iv-3.1/hosp\poe_detail.csv.gz
../mimic-iv-3.1/hosp\prescriptions.csv.gz
../mimic-iv-3.1/hosp\procedures_icd.csv.gz
../mimic-iv-3.1/hosp\provider.csv.gz
../mimic-iv-3.1/hosp\services.csv.gz
../mimic-iv-3.1/hosp\transfers.csv.gz
../mimic-iv-3.1/icu\caregiver.csv.gz
../mimic-iv-3.1/icu\chartevents.csv.gz
../mimic-iv-3.1/icu\datetimeevents.csv.gz
../mimic-iv-3.1/icu\d_items.csv.gz
../mimic-iv-3.1/icu\icustays.csv.gz
../mimic-iv-3.1/icu\ingredientevents.csv.gz
../mimic-iv-3.1/icu\inputevents.csv.gz
../mimic-iv-3.1/icu\outputevents.csv.gz
../mimic-iv-3.1/icu\procedureevents.csv.gz

### Import

In [2]:
# Import
targets = pd.read_pickle("../mimic-iv-3.1/final_microbiology_df.pkl")
# subject_hadm_driver = pd.read_pickle("../mimic-iv-3.1/subject_hadm_driver.pkl")
# subject_hadm_time_driver = pd.read_pickle("../mimic-iv-3.1/subject_hadm_time_driver.pkl")

# Labevents

### Read File and Filter

In [4]:
file_name = '../mimic-iv-3.1/hosp/labevents.csv.gz'
labevents_df = pd.read_csv(file_name, compression="gzip")
labevents_df

,labevent_id,subject_id,hadm_id,specimen_id,itemid,order_provider_id,charttime,storetime,value,valuenum,valueuom,ref_range_lower,ref_range_upper,flag,priority,comments
0,1,10000032,NaN,2704548,50931,P69FQC,2180-03-23 11:51:00,2180-03-23 15:56:00,___,95.00,mg/dL,70.0,100.0,NaN,ROUTINE,"IF FASTING, 70-100 NORMAL, >125 PROVISIONAL DI..."
1,2,10000032,NaN,36092842,51071,P69FQC,2180-03-23 11:51:00,2180-03-23 16:00:00,NEG,NaN,NaN,NaN,NaN,NaN,ROUTINE,NaN
2,3,10000032,NaN,36092842,51074,P69FQC,2180-03-23 11:51:00,2180-03-23 16:00:00,NEG,NaN,NaN,NaN,NaN,NaN,ROUTINE,NaN
3,4,10000032,NaN,36092842,51075,P69FQC,2180-03-23 11:51:00,2180-03-23 16:00:00,NEG,NaN,NaN,NaN,NaN,NaN,ROUTINE,BENZODIAZEPINE IMMUNOASSAY SCREEN DOES NOT DET...
4,5,10000032,NaN,36092842,51079,P69FQC,2180-03-23 11:51:00,2180-03-23 16:00:00,NEG,NaN,NaN,NaN,NaN,NaN,ROUTINE,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158374759,159057534,19999987,23865745.0,59879875,51279,NaN,2145-11-09 05:30:00,2145-11-09 07:06:00,3.52,3.52,m/uL,4.2,5.4,abnormal,ROUTINE,NaN
158374760,159057535,19999987,23865745.0,59879875,51301,NaN,2145-11-09 05:30:00,2145-11-09 07:06:00,5.7,5.70,K/uL,4.0,11.0,NaN,ROUTINE,NaN
158374761,159057536,19999987,NaN,74914384,50912,P95A45,2146-02-07 11:13:00,2146-02-07 16:26:00,1.1,1.10,mg/dL,0.4,1.1,NaN,ROUTINE,NaN
158374762,159057537,19999987,NaN,74914384,50920,P95A45,2146-02-07 11:13:00,2146-02-07 16:26:00,NaN,NaN,NaN,NaN,NaN,NaN,ROUTINE,"Using this patient's age, gender, and serum cr..."
158374763,159057538,19999987,NaN,74914384,51006,P95A45,2146-02-07 11:13:00,2146-02-07 16:26:00,14,14.00,mg/dL,6.0,20.0,NaN,ROUTINE,NaN

In [5]:
# Set index for faster lookups
labevents_df = labevents_df.set_index(['subject_id', 'hadm_id'])

In [6]:
# Filter only valid (subject_id, hadm_id) pairs
labevents_df = labevents_df.loc[
    labevents_df.index.intersection(subject_hadm_driver.set_index(['subject_id', 'hadm_id']).index)
].reset_index()

In [7]:
labevents_df.shape

(27725252, 16)

In [8]:
# Export
labevents_df.to_pickle("../mimic-iv-3.1/labevents_df_4b.pkl")

### Merge with description file

In [25]:
# Import
labevents_df = pd.read_pickle("../mimic-iv-3.1/labevents_df_4b.pkl")
labevents_df.shape

(27725252, 16)

In [26]:
file_name = '../mimic-iv-3.1/hosp/d_labitems.csv.gz'
labitems_description = pd.read_csv(file_name, compression="gzip")
labitems_description.head()

   itemid                                label  fluid   category
0   50801           Alveolar-arterial Gradient  Blood  Blood Gas
1   50802                          Base Excess  Blood  Blood Gas
2   50803  Calculated Bicarbonate, Whole Blood  Blood  Blood Gas
3   50804                 Calculated Total CO2  Blood  Blood Gas
4   50805                    Carboxyhemoglobin  Blood  Blood Gas

In [27]:
# Set index for faster lookups
labevents_df = labevents_df.set_index('itemid')

# Set index for labitems_description and select only necessary columns
labitems_description = labitems_description.set_index('itemid')[['label', 'fluid', 'category']]

# Perform an index-based join to bring in additional columns
labevents_df = labevents_df.join(labitems_description, how='inner').reset_index()

# Check shape
labevents_df.shape

(27725252, 19)

In [28]:
labevents_df.head()

,itemid,subject_id,hadm_id,labevent_id,specimen_id,order_provider_id,charttime,storetime,value,valuenum,valueuom,ref_range_lower,ref_range_upper,flag,priority,comments,label,fluid,category
0,51116,10000826,20032235.0,4288,56890274,NaN,2146-12-05 23:36:00,2146-12-06 01:37:00,53,53.0,%,0.0,0.0,abnormal,ROUTINE,NaN,Lymphocytes,Ascites,Hematology
1,51117,10000826,20032235.0,4289,56890274,NaN,2146-12-05 23:36:00,2146-12-06 01:37:00,___,30.0,%,0.0,0.0,abnormal,ROUTINE,___,Macrophage,Ascites,Hematology
2,51118,10000826,20032235.0,4290,56890274,NaN,2146-12-05 23:36:00,2146-12-06 01:37:00,1,1.0,%,0.0,0.0,abnormal,ROUTINE,NaN,Mesothelial Cell,Ascites,Hematology
3,51120,10000826,20032235.0,4291,56890274,NaN,2146-12-05 23:36:00,2146-12-06 01:37:00,6,6.0,%,0.0,0.0,abnormal,ROUTINE,NaN,Monocytes,Ascites,Hematology
4,51125,10000826,20032235.0,4292,56890274,NaN,2146-12-05 23:36:00,2146-12-06 01:37:00,10,10.0,%,0.0,0.0,abnormal,ROUTINE,NaN,Polys,Ascites,Hematology

In [29]:
# Export the reduced labevents file for faster loading and efficiency
labevents_df.to_pickle("../mimic-iv-3.1/labevents_df_4b_wd.pkl")
labevents_df.to_csv("../mimic-iv-3.1/labevents_df_4b_wd.csv.gz", compression="gzip", index=False)

### Find Total Occurences to get most popular lab tests

In [3]:
# Reduce to a single test
# Find the earliest charttime per (subject_id, hadm_id)
earliest_charttime_idx = labevents_df.groupby(['subject_id', 'hadm_id','label','fluid'], dropna = False)['charttime'].idxmin()

# Filter down to only those rows
earliest_labevents_df = labevents_df.loc[earliest_charttime_idx]

earliest_labevents_df.shape

(3462246, 19)

In [4]:
# Count distinct subject_id and hadm_id per label, fluid, and category
distinct_counts = earliest_labevents_df.groupby(['label', 'fluid', 'category']).agg(
    distinct_subjects=('subject_id', 'nunique'),
    distinct_hadm_ids=('hadm_id', 'nunique'),
    total_occurrences=('subject_id', 'count')  # Optional: total number of occurrences
).reset_index()

# Sort by distinct hadm_id count (or distinct subject_id count)
distinct_counts.sort_values(by='distinct_subjects', ascending=False, inplace=True)
distinct_counts.head(100)

,label,fluid,category,distinct_subjects,distinct_hadm_ids,total_occurrences
433,Hematocrit,Blood,Hematology,31884,16378,39361
664,Platelet Count,Blood,Hematology,31881,16366,39351
546,MCV,Blood,Hematology,31877,16363,39347
725,Red Blood Cells,Blood,Hematology,31877,16363,39347
712,RDW,Blood,Hematology,31877,16363,39347
544,MCH,Blood,Hematology,31877,16363,39347
545,MCHC,Blood,Hematology,31877,16363,39347
893,White Blood Cells,Blood,Hematology,31868,16363,39338
291,Creatinine,Blood,Chemistry,31675,16321,39128
844,Urea Nitrogen,Blood,Chemistry,31628,16307,39071
674,Potassium,Blood,Chemistry,31422,16298,38842
759,Sodium,Blood,Chemistry,31416,16294,38833
271,Chloride,Blood,Chemistry,31401,16293,38817
93,Bicarbonate,Blood,Chemistry,31344,16286,38757
48,Anion Gap,Blood,Chemistry,31338,16285,38749
442,Hemoglobin,Blood,Hematology,31308,15577,38474
387,Glucose,Blood,Chemistry,30642,15340,37593
853,Urine Color,Urine,Hematology,30535,13509,36127
851,Urine Appearance,Urine,Hematology,30535,13509,36127
864,Urobilinogen,Urine,Hematology,30491,13509,36081
767,Specific Gravity,Urine,Hematology,30491,13509,36081
522,Leukocytes,Urine,Hematology,30491,13509,36081
504,Ketone,Urine,Hematology,30491,13509,36081
117,Blood,Urine,Hematology,30491,13509,36081
389,Glucose,Urine,Hematology,30491,13509,36081
693,Protein,Urine,Hematology,30491,13509,36081
100,Bilirubin,Urine,Hematology,30491,13509,36081
610,Nitrite,Urine,Hematology,30491,13509,36081
908,pH,Urine,Hematology,30350,13472,35897
703,RBC,Urine,Hematology,29355,12490,34445
887,WBC,Urine,Hematology,29355,12490,34445
72,Bacteria,Urine,Hematology,29355,12490,34445
896,Yeast,Urine,Hematology,29355,12490,34445
331,Epithelial Cells,Urine,Hematology,29355,12490,34445
342,Estimated GFR (MDRD equation),Blood,Chemistry,29022,11659,33864
582,Monocytes,Blood,Hematology,28349,10620,32900
608,Neutrophils,Blood,Hematology,28349,10620,32900
84,Basophils,Blood,Hematology,28349,10620,32900
538,Lymphocytes,Blood,Hematology,28349,10620,32900
323,Eosinophils,Blood,Hematology,28349,10620,32900
253,"Calcium, Total",Blood,Chemistry,26961,16026,33793
24,Alanine Aminotransferase (ALT),Blood,Chemistry,26111,11576,30914
64,Asparate Aminotransferase (AST),Blood,Chemistry,25951,11565,30750
557,Magnesium,Blood,Chemistry,25848,16088,32657
654,Phosphate,Blood,Chemistry,25652,15982,32390
473,INR(PT),Blood,Hematology,25546,14127,31546
645,PT,Blood,Hematology,25546,14127,31546
32,Alkaline Phosphatase,Blood,Chemistry,24956,11427,29676
646,PTT,Blood,Hematology,24920,13844,30729
519,Length of Urine Collection,Urine,Chemistry,24783,7423,27661
104,"Bilirubin, Total",Blood,Chemistry,24703,11508,29479
858,Urine Mucous,Urine,Hematology,24602,9461,27950
25,Albumin,Blood,Chemistry,22950,9966,26871
714,RDW-SD,Blood,Hematology,21108,8533,24854
509,Lactate,Blood,Blood Gas,20454,8771,23693
403,H,Blood,Chemistry,19471,7476,22734
505,L,Blood,Chemistry,19471,7477,22734
471,I,Blood,Chemistry,19470,7476,22733
16,Absolute Lymphocyte Count,Blood,Hematology,19112,5845,21540
19,Absolute Neutrophil Count,Blood,Hematology,18919,5788,21333
402,Green Top Hold (plasma),Blood,Chemistry,18912,2300,19643
14,Absolute Eosinophil Count,Blood,Hematology,18908,5790,21322
10,Absolute Basophil Count,Blood,Hematology,18906,5788,21320
18,Absolute Monocyte Count,Blood,Hematology,18906,5788,21320
120,Blue Top Hold,Blood,Chemistry,18691,3005,19658
474,Immature Granulocytes,Blood,Hematology,18159,5012,20189
523,Light Green Top Hold,Blood,Chemistry,17432,1522,17978
790,Thyroid Stimulating Hormone,Blood,Chemistry,16845,3970,17802
829,Troponin T,Blood,Chemistry,16561,6687,18849
842,Uhold,Urine,Chemistry,15877,2423,16715
527,Lipase,Blood,Chemistry,15874,3914,17095
823,Triglycerides,Blood,Chemistry,14480,3201,15017
726,Red Top Hold,Blood,Chemistry,13991,2948,14732
289,Creatine Kinase (CK),Blood,Chemistry,13857,5863,15616
768,Specimen Type,Blood,Blood Gas,13642,8504,16119
285,"Cholesterol, Total",Blood,Chemistry,13548,1633,13792
281,"Cholesterol, HDL",Blood,Chemistry,13348,1538,13572
278,Cholesterol Ratio (Total/HDL),Blood,Chemistry,13264,1467,13478
466,Hyaline Casts,Urine,Hematology,13219,5129,14643
511,Lactate Dehydrogenase (LD),Blood,Chemistry,13111,8640,15563
282,"Cholesterol, LDL, Calculated",Blood,Chemistry,12827,1425,13024
0,% Hemoglobin A1c,Blood,Chemistry,12819,2434,13245
367,Ferritin,Blood,Chemistry,12003,3830,12978
903,eAG,Blood,Chemistry,11985,2190,12363
680,"Potassium, Whole Blood",Blood,Blood Gas,11901,4909,13079
905,pH,Blood,Blood Gas,11478,8095,13622
815,Transitional Epithelial Cells,Urine,Hematology,11381,3198,12121
297,"Creatinine, Urine",Urine,Chemistry,11368,4838,12600
491,Iron,Blood,Chemistry,11312,3820,12240
862,"Urine tube, held",Urine,Chemistry,11076,1682,11503
871,Vitamin B12,Blood,Chemistry,10970,2393,11407
81,Base Excess,Blood,Blood Gas,10960,7783,12964
259,Calculated Total CO2,Blood,Blood Gas,10959,7783,12963
909,pO2,Blood,Blood Gas,10955,7780,12957
904,pCO2,Blood,Blood Gas,10954,7780,12956
814,Transferrin,Blood,Chemistry,10536,3688,11404
492,"Iron Binding Capacity, Total",Blood,Chemistry,10526,3673,11387
290,"Creatine Kinase, MB Isoenzyme",Blood,Chemistry,10515,5776,12081
665,Platelet Smear,Blood,Hematology,10427,4830,11871
666,Poikilocytosis,Blood,Hematology,10247,4320,11555

In [5]:
# Select the top 100 most frequent "Fluid - Label" pairs
top_100_labs = distinct_counts.head(100)[["label", "fluid"]].values.tolist()
top_100_labs

[['Hematocrit', 'Blood'],
 ['Platelet Count', 'Blood'],
 ['MCV', 'Blood'],
 ['Red Blood Cells', 'Blood'],
 ['RDW', 'Blood'],
 ['MCH', 'Blood'],
 ['MCHC', 'Blood'],
 ['White Blood Cells', 'Blood'],
 ['Creatinine', 'Blood'],
 ['Urea Nitrogen', 'Blood'],
 ['Potassium', 'Blood'],
 ['Sodium', 'Blood'],
 ['Chloride', 'Blood'],
 ['Bicarbonate', 'Blood'],
 ['Anion Gap', 'Blood'],
 ['Hemoglobin', 'Blood'],
 ['Glucose', 'Blood'],
 ['Urine Color', 'Urine'],
 ['Urine Appearance', 'Urine'],
 ['Urobilinogen', 'Urine'],
 ['Specific Gravity', 'Urine'],
 ['Leukocytes', 'Urine'],
 ['Ketone', 'Urine'],
 ['Blood', 'Urine'],
 ['Glucose', 'Urine'],
 ['Protein', 'Urine'],
 ['Bilirubin', 'Urine'],
 ['Nitrite', 'Urine'],
 ['pH', 'Urine'],
 ['RBC', 'Urine'],
 ['WBC', 'Urine'],
 ['Bacteria', 'Urine'],
 ['Yeast', 'Urine'],
 ['Epithelial Cells', 'Urine'],
 ['Estimated GFR (MDRD equation)', 'Blood'],
 ['Monocytes', 'Blood'],
 ['Neutrophils', 'Blood'],
 ['Basophils', 'Blood'],
 ['Lymphocytes', 'Blood'],
 ['Eosinophils', 'Blood'],
 ['Calcium, Total', 'Blood'],
 ['Alanine Aminotransferase (ALT)', 'Blood'],
 ['Asparate Aminotransferase (AST)', 'Blood'],
 ['Magnesium', 'Blood'],
 ['Phosphate', 'Blood'],
 ['INR(PT)', 'Blood'],
 ['PT', 'Blood'],
 ['Alkaline Phosphatase', 'Blood'],
 ['PTT', 'Blood'],
 ['Length of Urine Collection', 'Urine'],
 ['Bilirubin, Total', 'Blood'],
 ['Urine Mucous', 'Urine'],
 ['Albumin', 'Blood'],
 ['RDW-SD', 'Blood'],
 ['Lactate', 'Blood'],
 ['H', 'Blood'],
 ['L', 'Blood'],
 ['I', 'Blood'],
 ['Absolute Lymphocyte Count', 'Blood'],
 ['Absolute Neutrophil Count', 'Blood'],
 ['Green Top Hold (plasma)', 'Blood'],
 ['Absolute Eosinophil Count', 'Blood'],
 ['Absolute Basophil Count', 'Blood'],
 ['Absolute Monocyte Count', 'Blood'],
 ['Blue Top Hold', 'Blood'],
 ['Immature Granulocytes', 'Blood'],
 ['Light Green Top Hold', 'Blood'],
 ['Thyroid Stimulating Hormone', 'Blood'],
 ['Troponin T', 'Blood'],
 ['Uhold', 'Urine'],
 ['Lipase', 'Blood'],
 ['Triglycerides', 'Blood'],
 ['Red Top Hold', 'Blood'],
 ['Creatine Kinase (CK)', 'Blood'],
 ['Specimen Type', 'Blood'],
 ['Cholesterol, Total', 'Blood'],
 ['Cholesterol, HDL', 'Blood'],
 ['Cholesterol Ratio (Total/HDL)', 'Blood'],
 ['Hyaline Casts', 'Urine'],
 ['Lactate Dehydrogenase (LD)', 'Blood'],
 ['Cholesterol, LDL, Calculated', 'Blood'],
 ['% Hemoglobin A1c', 'Blood'],
 ['Ferritin', 'Blood'],
 ['eAG', 'Blood'],
 ['Potassium, Whole Blood', 'Blood'],
 ['pH', 'Blood'],
 ['Transitional Epithelial Cells', 'Urine'],
 ['Creatinine, Urine', 'Urine'],
 ['Iron', 'Blood'],
 ['Urine tube, held', 'Urine'],
 ['Vitamin B12', 'Blood'],
 ['Base Excess', 'Blood'],
 ['Calculated Total CO2', 'Blood'],
 ['pO2', 'Blood'],
 ['pCO2', 'Blood'],
 ['Transferrin', 'Blood'],
 ['Iron Binding Capacity, Total', 'Blood'],
 ['Creatine Kinase, MB Isoenzyme', 'Blood'],
 ['Platelet Smear', 'Blood'],
 ['Poikilocytosis', 'Blood']]

In [9]:
# Export to a pickle file
with open("../mimic-iv-3.1/top_100_labs.pkl", "wb") as f:
    pickle.dump(top_100_labs, f)

In [2]:
# For Import
# with open("../mimic-iv-3.1/top_100_labs.pkl", "rb") as f:
#     top_100_labs = pickle.load(f)